.container{
	height: 60%;
}

#exTab1 .tab-content {
  color : black;
  background-color: #fff;
  padding : 5px 15px;
  height: 50%;
}

#exTab2 h3 {
  color : black;
  background-color: #000;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 4%;
  background-color: #c1c1c1;
}


#terminal_details, p, span{
	padding-left: 10px;
  /*padding-bottom: 50px;*/

}
/* change border radius for the tab , apply corners on top*/

